h1{
	font-size: 40px;
	margin-bottom: -10px;
	font-family: Fira Sans;
	word-spacing: 10px;
	letter-spacing: 3px; 
	
}

h2{
/* 	color: #6fb3b8; */
	color: white;
	font-family: Josefin Sans;
	margin-bottom: 35px;
	font-size: 45px;
}

h3{
	color: #fff;
	font-size: 35px;
	font-family: Fira Sans; 
}
#diff{
	color: #fff;
	font-size: 50px;
	font-family: Fira Sans; 
}
h4{
	color: #6fb3b8;
	font-family: Josefin Sans;
	margin-bottom: 35px;
	font-size: 25px;
}
p{
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
	font-family: Josefin Sans;
	margin-bottom: 20px;
}
.helpAd h3{
	text-align: center;
}
body{
	background-color: #A8D0E6;
}
#infoScreen {
	text-align: center;	
	position: fixed;
    top: 50%;
    left: 50%;
  	transform: translate(-50%, -50%); 
/* 	background-color: #A8D0E6; */

/* 	 Put in the very center of the screen*/
}



#buttonsScreen{
	display: none;
	
} 
#buttonScreen.h3{
	color: #f6f6f2;
}
#searchScreen{
	display: none;
	text-align: center;
	position: fixed;
    top: 40%;
    left: 50%;
  	transform: translate(-50%, -50%); 
}
#searchAgain2{
	color: #dff9fb;	
	background-color: #2d3436;	
	text-align: center;
	margin-left: 35px;
}

.mdc-tab{
	font-size: 25px;
	font-family: Fira Sans;
	font-weight: bold;
	margin-top: 18px;
}
#buttons{
	text-align: center;
	margin-bottom: 5px;
}

#addValuesHere{
/* 	 does not center graph for some reason */
	text-align: center;
}


#goSearch{
	background-color: #388087;
	color: #BADFE7;
	margin-bottom: 25px;
	margin-top: 25px;
	font-family: Josefin Sans;
	font-size: 20px;
/* 	width: 50%; */
}
#pts{
	color: #dff9fb;
	background-color: #2d3436;
}
#reb{
	color: #dff9fb;
	background-color: #2d3436;
}
#ast{
	color: #dff9fb;
	background-color: #2d3436;

}
#fg-percent{
	color: #dff9fb;
	background-color: #2d3436;
}
#fg3-percent{
	color: #dff9fb;
	background-color: #2d3436;
/* 	margin-bottom: -25px;  */
}
#searchAgain{
	color: #dff9fb;
	background-color: #2d3436;
	margin-left: 195px;
	margin-top: 25px;
}
path{
	stroke: #FEFFFF;
	stroke-width: 2; 
/* 	fill: #2d3436; */
}
circle{
	fill: #dff9fb; 
}
rect{
/* 	background-color: #2d3436; */
	fill: #2d3436;
	color: white; 
	font-size: 25px;
}
#curve_chart{
	display: flex;
	justify-content: center;
	align-items: center;
/* 	height: 450px;
	width: 25%;  */
}
	.mdc-button.mdc-button--raised{
	color: #BADFE7;
	background-color:  #388087;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Josefin Sans;
	font-size: 20px;
	 margin-left: 10px;
    margin-right: 10px;

}
@media (max-width:500px){ 
/* 	 500 px wide or less*/

	.button2{
	color: #BADFE7;
	background-color:  #388087;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Josefin Sans;
	font-size: 20px;
	 margin-left: 50px;
    margin-right: 50px;

}
	
	#diff{
	color: #fff;
	font-size: 40px;
	font-family: Fira Sans; 
}
	.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #388087;
    font-size: 25px;
    width: 345px;
}
	h2{
		font-size: 32px;
	}
	h3{
		font-size: 20px;
		font-family: Fira Sans;
		font-weight: bold;
	}
	p{
		font-size: 13px;
	}
	#curvechart{
		height: 100%;
		width: 100%;  
	}
	rect{
		width: 100%;
	}
	text{
	fill: #3AAFA9;
/* 	background: red; */
}
	.mdc-tab{
		font-size: 15px;
	font-family: Fira Sans;
	font-weight: bold;
		margin-top: 2px;
	}
	#searchAgain{
	color: #dff9fb;
	background-color: #2d3436;
	margin-left: 50px;
	margin-top: 25px;
}	
	.mdc-card.demo-card{
	width: 355px;
    height: 356px;
	margin-left: auto;
	margin-right: auto; 
	background-color: #2d3436;
}
}






@media (min-width:501px){
	.button2{
	color: #BADFE7;
	background-color:  #388087;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Josefin Sans;
	font-size: 20px;
	 margin-left: 15px;
    margin-right: 15px;

}
	h3{
/* 		color: red; */
	}
	#curvechart{
		height: 400px;
		width: 600px;  
	}
	rect{
		width: 600px;
		height: 400px
	}
.mdc-card.demo-card{
	width: 500px; 
  	height: 600px;
	margin-left: auto;
	margin-right: auto; 
	background-color: #2d3436;
}
	
}

#text-field-year2{
	color : white;
}
text{
	fill: #3AAFA9;
/* 	background: red; */
}
#playerInfo{
	color: #f6f6f2; 	
}



#chartArea{
	 display: flex;
	justify-content: center;
	align-items: center;
/* 		background-color: #2d3436; */

/* 	background-color: #6fb3b8; */
}

.template{
	display: none;
}


.img {

}




.mdc-button.mdc-button--raised{
	color: #BADFE7;
	background-color:  #388087;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Josefin Sans;
	font-size: 20px;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
	color: #388087;
	font-size: 25px;
	width: 360px;
}
.mdc-text-field__input{
	size: "50";
}
.option{
	size: 50;
}

#findNews{
	color: #dff9fb;
	background-color: #2d3436;
}

:root {
    --mdc-theme-primary: #f5f6fa;
}

/*  <!-- Code by Adam Tayabali - April/May 2020 --> */
